<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="記事一覧">Title</title>
</head>
<body>
<header th:replace="~{frags/header}"></header>
<main>
    <th:block th:each="article : ${articles}">
        <div style="border: 1px solid #ddd; border-radius: 8px; padding: 16px; margin-bottom: 16px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
            <h1 style="font-size: 1.5em; margin-bottom: 8px;">
                <a th:href="'article/'+${article.articleId}" th:text="${article.jpTitle}">Article Title</a>
            </h1>
            <p style="font-size: 1em; color: #333;"
               th:text="${article.content}">This is the content of the article.</p>
        </div>
    </th:block>
</main>


</body>
</html>